html {
    background-color: lightblue;
    font-family: 'Catamaran', tahoma, sans-serif;
}

.gutters {
    padding: 0 22%;
}

/*------------------Promotion Container START--------------------- */
#promotion-container {
    background-color: #fa6938;
    display: flex;
    align-items: center;  
    color:#fff;
    font-size: 0.9em;
}

#promotion-container li {
    padding: 10px;
    list-style: none;
    text-shadow: 0.5px 0.5px gray;
}

#promotion-container li a {
    color: #fff;
    text-decoration:none;
}

.shipping {
    background-color: #c7532c;
    border-radius: 2px;
    padding: 4px 8px !important;
    text-transform: uppercase;
    text-shadow: 0px !important;
}

/*------------------Promotion Container END--------------------- */

/*------------------Header Container START--------------------- */

#header-container {
    background-color: #fff;
    display: flex;
    align-items: center;
}

#logo {
    width: 12%;
}

nav ul {
    font-size: 1.5em;
}

nav ul li {
    display: inline-block;
    padding: 13px;
}

nav ul li a {
    text-decoration: none;
}

#header-right {
    display: flex;
    width: 39%;
    flex-direction: column;
    align-items: flex-end;
    padding-bottom: 23px;
}

#account {
    position: relative;
    bottom: 10px;  
    text-transform: uppercase;
}

#account a {
    padding-left: 5px;
    font-size: 0.8em;
    text-decoration: none;
    color:#909090;
}

#account a:hover {
    color: #1782e0;;
}

#cart-search-container {
    display: flex;
    justify-content: flex-end;
}

#cart-search-container a {
    color: #909090;
    text-decoration: none;
}
#cart-box {
    border: 1px solid #606060;
    display: flex;
    align-items: center;
    border-radius: 3px;
}

#cart-box div {
    padding: 4px;
}

#cart-sprite {
    background: url('../assets/sprite.png') no-repeat -54px -28px;
    width: 14px;
	height: 12px;
}

#cart-square {
    background-color: #c8c8c8;
    width: 8px;
    height: 8px;
    border-radius: 3px;
    margin: 2px;
    margin-right: 6px;
}

#search-container {
    border: 4px solid lightgrey;
    margin-left: 15px;
    border-radius: 5px;
    width: 50%;
}

#search-sprite{
    background: url('../assets/sprite.png') no-repeat -20px -30px;
    width: 14px;
	height: 14px;
    position: relative;
    left: 14px;
    top: 3px;
    display: inline-block
}

#search-container input {
    width: 70%;
    float: right;
    border: none;
}

/*------------------Header Container END--------------------- */

#banner-container {
    background-color: #f4f4f4;
}

.ties {
    display: flex;
    justify-content: center;
}

.ties div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.ties div img {
    padding-bottom: 15px;
    width: 65%;
}

h1 {
    text-align: center;
    font-size: 3.5em;
    letter-spacing: 1px;
    padding: 1.5em;
    margin: 0px;
}

/*------------------Header Container END--------------------- */

/*------------------Content Container START--------------- */

#content-container {
    background-color: #fff;
    text-align: center;
    padding-bottom: 90px;
}

.product-container div {
    display: inline-block;
    width: 32.35%;
    margin: 58px 4px;
    position: relative;
}

.product-container div img {
    width: 100%;
    border: 1px solid #c8c8c8;
    border-radius: 1px;
}

.product-container div h3 {
    font-family: tahoma;
    position: absolute;
    text-align: right;
    top: 0;
    right: 16px;
    font-size: 1.3em
}

h2 {
    font-style: italic;
    font-size: 2.4em;
    line-height: 1.4;
    font-weight: 200;
}

#content-container a {
    text-transform: uppercase;
    text-decoration: none;
    color: #33a1ff;
    letter-spacing: 2px;
}

#content-container a:hover {
    color: #1782e0;
}

/*------------------Content Container END--------------------- */

/*------------------Sub-footer START--------------- */

#sub-footer {
   background-color: #fff;
   display: flex;
   border: 1px solid grey;
}

.sub-footer-box-elements {
    flex: 1;
    padding: 50px 30px 50px 0px;
}

.sub-footer-box-elements img {
    width: 100%;
    border: 1px solid #c8c8c8;
    margin-bottom: 15px;
    border-radius: 1px;
}

h4 {
    font-size: 1.1em;
    font-family: tahoma;
    margin: 0 0 15px;
}

.sub-footer-box-elements p {
    font-weight: bold;
    font-size: 0.96em;
}

#weekly-pick p {
    margin-top: 0px;
}

.sub-footer-box-elements a {
    text-decoration: none;
    color:#33a1ff;
    font-size: 0.96em;
}

.sub-footer-box-elements a:hover {
    color: #1782e0;
}

#social-media-container {
    display: flex;
    width: 47%;
}

#social-media-container div {
    padding-right: 10px;
}

#facebook-sprite {
    background: url('../assets/sprite.png') no-repeat -320px 0;
    width: 35px;
	height: 35px;
}

#pinterest-sprite {
    background: url('../assets/sprite.png') no-repeat -320px -40px;
    width: 35px;
	height: 35px;
}

#twitter-sprite {
    background: url('../assets/sprite.png') no-repeat -320px -80px;
    width: 35px;
	height: 35px;
}


#name-input {
    width: 70%;
    border: 4px solid lightgrey;
    border-radius: 5px;
    margin-bottom: 6px;
}

.subscribe-button {
    background-color: #33a1ff;
    color: #fff;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 4px;
    font-size: 0.7em;
    font-weight: 100;
    border: 0px solid;
    padding: 5px 8px;
}

#style-guide p {
    margin-top: 0px;
}

#style-guide a:hover {
    color: #1782e0;
}


/*------------------Sub-footer END--------------------- */

/*------------------Footer START------------------------- */

footer {
    background-color: #f4f4f4;
}

#footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

#nav-bottom {
    display: flex;
}

#nav-bottom ul {
    padding-left: 0px;
    padding-right: 40px;
    margin-top: 0px;
}

#nav-bottom ul li, #nav-bottom ul li a {
    list-style: none;
    color: #909090;
    text-decoration: none;
    font-size: 0.95em;
}

#nav-bottom ul li a:hover {
    color: #33a1ff
}

h5 {
    font-family: tahoma;
    margin: 5px 0px 10px;
}


#contact-us-container {
    background-color: #a2afc0;
    padding: 0px 22px;
    border-radius: 5px;
}

#contact-us-container h3 {
    color: #fff;
    font-size: 2em;
    font-weight: 100;
    font-style: italic;
    letter-spacing: 1px;
    padding-right: 55px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact-us-bottom {
    display: flex;
    margin-bottom: 20px;
}

.contact-us-left span {
    font-size: 1.2em;
    color: #fff;
    display: flex;
    letter-spacing: 0.5px;
    line-height: 1.5em;
}

.contact-us-right {
    margin-left: 30px;
}

.contact-us-button {
    background-color: #33a1ff;
    color: #fff;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 100;
    border: 0px solid;
    padding: 10px;
    margin-top: 15px;
}

#copyright-containter {
    padding: 8px 0px 40px;
}

.copyright {
    color: #909090;
    font-size: 0.7em;
}

.copyright span {
    margin-bottom: 5px;
}
.copyright a {
    text-decoration: none;
    border-bottom: 1px dotted #CCC;
}

.copyright a:hover {
    text-decoration: none;
    color: #33a1ff;
    border-bottom: 1px dotted #CCC;
}


/*------------------Footer END--------------------- */