/*------------------Width-Header Container START--------------- */

#width-header {
    background-color: #a2afc0;
    margin: -40px 0px 0px;
}

#width-header h1 {
    font-size: 2.5em;
    font-weight: 100;
    padding: 27px 0px;
}


/*------------------Width-header Container END--------------------- */

/*------------------Width-Container START--------------- */
 #width-container {
     display: flex;
     padding-top: 27px;
     padding-bottom: 27px;
 }

.width-content-container {
    padding:0px 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.width-content-container img {
    width: 100%;
}

.pic-description {
    background-color:#f4f4f4;
}

.pic-description h3 {
    font-size: 2em;
    letter-spacing: 1px;
    font-weight: 100;
    margin: 15px 0px;
}

.pic-description p {
    font-size: 1.1em;
    line-height: 1.4em;
}

#nav-short {
    padding-bottom: 30px;
    padding-top: 3px;
}

.nav-short-container {
    width: 14%;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 27px;
}

.nav-short-container span {
    padding: 0px 2px;
    font-size: 0.75em;
}

.nav-short-container a {
    color:#33a1ff;
}

.nav-short-container a:hover {
    color: #1782e0;
}

/*------------------Width-Container END--------------------- */
